<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.bc.eventcenter.dao.EventMapper">
    <insert id="save" parameterType="com.rt.bc.eventcenter.impl.storage.EventInfo">
      insert into bc_message
        (
        `type`,
        `content`,
        `status`
        )
        values(
        #{eventInfo.eventType},
        #{eventInfo.eventJson},
        #{eventInfo.status}
        )
    </insert>

    <select id="queryById" parameterType="Long" resultMap="com.rt.bc.eventcenter.impl.storage.EventInfo">
      select * from bc_message where id = #{id}
    </select>

    <update id="updateStatus">
      update bc_message
      set status = #{status}
      where id in (
        <foreach collection="evetIdList" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <insert id="createTable">
        create TABLE if not exists `bc_message`(
        `id` bigint(15) NOT NULL AUTO_INCREMENT COMMENT 'id',
        `type` varchar(50) not NULL COMMENT '消息类型/名称',
        `content` text DEFAULT NULL COMMENT '消息内容',
        `status` SMALLINT UNSIGNED DEFAULT NULL COMMENT '消息状态，0——未发送；1——发送中；2——已发送',
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='业务中心消息';
    </insert>

</mapper>
